<!DOCTYPE html>
<html>
<head th:replace="layout/fragments :: cabecalho">
</head>
<body>

	<nav th:replace="layout/fragments :: barra-navegacao"></nav>
	
	<section class="hero is-info is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Adicionar usuario</h1>
				<h2 class="subtitle">Cantinho especial para gerenciar os
					perfis.</h2>
			</div>
		</div>
	</section>
	<br/>
	<div class="container">
		<div class="columns">
			<div class="column is-two-thirds">
				<form th:replace="layout/formAddUsuario :: form"></form>
			</div>
			<div class="column">
				<h3>
					<aside class="menu">
						<p class="menu-label">Administrador</p>
						<ul class="menu-list">
							<li><a href="/addUsuario">Adicionar usuario</a></li>
							<li><a href="/relatorioUsuarios">Imprimir usuarios</a></li>
						</ul>
					</aside>
				</h3>
			</div>
		</div>
	</div>

</body>
</html>