<!DOCTYPE html>
<html>
<head th:replace="layout/fragments :: cabecalho">
</head>
<body>

	<nav th:replace="layout/fragments :: barra-navegacao"></nav>

	<div class="container">
		<div class="columns">
			<div class="column is-two-thirds">
				<figure class="image">
					<img th:src="@{img/pregwall.jpg}"/>
				</figure>
			</div>
			<div class="column">
				<h1 class="has-text-centered has-text-danger">Sobre o Bela Gestante</h1>
				
				<p class="has-text-centered has-text-primary">A gravidez é considerada um período de expectativas e ensaios
					para o que está por vir e, além disso, é tida como uma fase na qual
					relacionamentos anteriores são re-elaborados, onde há um constante
					confronto entre a satisfação dos desejos e a possibilidade de
					reconhecer a nova realidade.</p>
			</div>
		</div>
	</div>

</body>
</html>